<% provide(:title, "Dashboard") %>
<h1 style="margin-top:50px;">Dashboard for Profile Management</h1><br />


<h2 style="text-align:center;">Teacher application progress</h2>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
    75%
  </div>
</div>
</br ><br />


<div style="margin-left: 15px;">
    <div class="row">
        	<div class="col-md-3">

            <%= link_to image_tag("bgcheck.png", alt: "Background Check"),
                    '#' %>
          </div>
        	
          <div class="col-md-3">

            <%= link_to image_tag("application.png", alt: "Application"), '#' %>
          </div>

          <div class="col-md-3">

            <%= link_to image_tag("payment.png", alt: "Payment Info"), '#' %>
          </div>

          <div class="col-md-3">
              <% if current_user.profile %>
            
              <%= link_to image_tag("edit_img.png", alt: "edit Profile"), edit_profile_path(current_user) %>
              
              <% else %>
              
              <%= link_to image_tag("create_img.png", alt: "Create Profile"), new_profile_path %>
       
              <% end %>
          </div>

      </div>
</div>

