<div class="whole">
        <div class="clickable">
          <a href="#" class="fill-div"></a>
            <% @profiles.each do |p| %>
            <div class="box1">
              <div class="p_pic"><%= image_tag p.avatar.url(:small) %></div>
            </div>

            <div class="box2">
                  <div class="name"><%= p.name %> <%= p.initial %>.  <span class="geo"><%= p.zip %></span> </div>
                  <div class="mid_2"><%= p.phrase %></div>

                  <div class="mid_3">
                    <%= truncate(p.experience, :length => 160, :separator => ' ' ) %> <%= link_to 'read more', @profile %>
                  </div>
                  <div class="mid_4">Offering <%= p.subjects.count %> Subjects</div>
            </div>

            <div class="box3">
                  <div class="bx3sub1">$<%= p.rate %><span class="p_rate">/per hour</span></div>
                  <div class="bx3sub2">Rating</div>
                  <div class="bx3sub3"><%= link_to "View Tutor", @profile, class: "btn btn-default" %></div>
            </div>

            <% end %>
       </div>
</div>