<% provide(:title, 'All Tutors') %>
<h1>All Tutors</h1>


<div class="row">
	<div class="col-xs-6 col-md-4">
		side bar content on this side.
	</div>


    <div class="col-xs-12 col-sm-6 col-md-8">
	   	 
<%= form_tag profiles_path, method: :get do %>
<p>
    
	<p>Enter Zip:</p>
	<%= text_field_tag :search_near, params[:search_near] %>
	<p>Enter Subject:</p>
	<%= text_field_tag :subject_search, params[:subject_search] %>
	

	<%= submit_tag "Search", name: nil %>
</p>
<% end %>

	<% for profile in @profiles do %>
	<ul style="list-style:none;">
		<li> <h4><%= profile.user.email %></h4></li>
		<li> <%= link_to profile.name, profile %> </li>
		<li> <%= profile.zip %></li>
		<li><b>($<%= profile.rate %>)</b></li>
		 <% profile.subjects.each do |s| %> 
		 <li> <%= s.title %> </li>
		 <% end %>
	</ul>
	<% end %>









    </div>

</div>


	

    
   
