<% provide(:title, 'Create Profile') %>
<h1>Create Profile</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @profile, :html => { :multipart => true } do |f| %>
		<%= render 'shared/error_messages' %>
		  <%= f.label :avatar, "Upload Profile Picture" %>
		  <%= f.file_field :avatar, class: 'form-control' %>

		  <%= f.label :name, "First Name" %>
		  <%= f.text_field :name, class: 'form-control' %>

		  <%= f.label :initial, "Last Initial" %>
		  <%= f.text_field :initial, class: 'form-control' %>
		  
		  <%= f.label :phrase, "Catchy Phrase" %>
		  <em>( For ex: Very organized and persistent. )</em>
		  <%= f.text_field :phrase, class: 'form-control' %>

		  <%= f.label :education %>
		  <%= f.text_field :education, class: 'form-control' %>

		  <%= f.label :certification %>
		  <%= f.text_field :certification, class: 'form-control' %>

          <em>( You can select all subjects that apply. )</em>
          <div>
          
          <%= f.collection_select :subject_ids, Subject.all, :id, :title, {include_blank: true}, id: "performer", data: { placeholder: "Choose subject(s)" }, multiple: true %>
          </div><br>
		  <%= f.label :experience, "Teaching Experience" %>
		  <%= f.text_area :experience, class: 'form-control' %>

		  <%= f.label :rate, "Hourly Rate" %>
		  <%= f.text_field :rate, class: 'form-control' %>

		  <%= f.label :zip, "Zip Code" %>
		  <%= f.text_field :zip, class: 'form-control' %>

		  <%= f.hidden_field :latitude, class: 'form-control' %>

		  <%= f.hidden_field :longitude, class: 'form-control' %>
          
		  
          
		  <%= f.submit "Create my profile", class: "btn btn-primary" %>
		  <% end %>
		</div>
	</div>


<script type="text/javascript"> $(document).ready(function() { 
$('select#performer').select2({
placeholder: "Choose your subjects",
allowClear: true,
width: '100%'
});
});
</script> 


