<% provide(:title, @profile.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <p> <b><%= @profile.name %> <%= @profile.initial %>.</b> (ID : <%= @profile.id %>)</p>
      <%= image_tag @profile.avatar.url(:small) %>
      <p> <b>Catchy Phrase:</b> <%= @profile.phrase %></p>
    
      <li style = "list-style: none"> <b>Education:</b>       <%= @profile.education %></li>
      <li style = "list-style: none"> <b>Certification:</b>   <%= @profile.certification %></li>
      <li style = "list-style: none"> <b>Experience:</b>      <%= @profile.experience %></li>
      <li style = "list-style: none"> <b>Hourly Rate:</b>     <%= @profile.rate %></li>
      <hr>
The <b>Subject:</b> field is what is used to run the search queries.
<hr>
      <li style = "list-style: none"> <u><b>Subject(s):</b></u> 
         
        <% @subject.each do |s| %>
        <li style = "list-style: none"><%= s.title %></li>
        <% end %>
      </li><br>
      
    
     <p><%= link_to 'All Profiles', {:action => :index}  %> </p>
      
    </section>
  </aside>
</div>