<% provide(:title, "Forgot password") %>
<h1>Forgot your password?</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
<% end %>

<%= render "devise/shared/links" %>
 </div>
</div>