<% if @subject.errors.any? %>
    <div id="error_explanation">
	    <div class="alert alert-danger">
		The form contains <%= pluralize(@profile.errors.count, "error") %>.
	    </div>
	    <ul>
		<% @subjects.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		<% end %>
	    </ul>
    </div>
<% end %>