<% provide(:title, "") %>
<div class="center jumbotron">
  <h1>Welcome to Inspired Higher Learning</h1>

  <h2>
    This is the home page for the
    <a href="http://www.i-hl.net/">Tutoring Resource</a>
    For Certified Teachers.
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

