<h1>Subjects#index</h1>
<script>
$(document).ready(function() { $("#monkey").select2(); });
</script>

<h2> Sample Data </h2>

<% @subject.each do |s|%>
<li> <%= s.id %> | <%= s.heading %> | <%= s.title %> </li>
<% end %>

 <%= link_to ("Create Subject"), 'new' %>


<br><br><br><br><br><br>

<em>Please select all subjects that apply.</em>
<div>
<%= select_tag "subject_id[]", options_from_collection_for_select(@subject, "id", "title"), include_blank: true, id: "performer", data: { placeholder: "Choose you subjects" }, multiple: true %></div>





<script type="text/javascript"> $(document).ready(function() { 
$('select#performer').select2({
placeholder: "Choose your subjects",
allowClear: true,
width: '30%'
});
});
</script> 





