<% provide(:title, 'Create Subject') %>
<h1>Create Subjects</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@subject) do |f| %>
		<%= render 'shared/error_sub_messages' %>
		  <%= f.label :heading %>
		  <%= f.text_field :heading, class: 'form-control' %>

		  <%= f.label :title %>
		  <%= f.text_field :title, class: 'form-control' %>

		  <%= f.submit "Create Subject", class: "btn btn-primary" %>
		  <% end %>
		</div>
	</div>