<% provide(:title, 'All Subjects') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <br><br><br>
     <p> <%= @subject.heading %> | <%= @subject.title %></p>

     <%= link_to ("All Subjects"), 'index' %>
      
    </section>
  </aside>
</div>