<% provide(:title, "Log in") %>
<h1>Log in</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  
    <% if devise_mapping.rememberable? -%>

        <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
        <% end %>
    <% end -%>

  
    <%= f.submit "Log in", class: "btn btn-primary" %>
  
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>