// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.p_pic{ /* selector for avatar class*/
    float: left; /* we press to the left edge, flow around on the right */
    background: #fff; /* background */
    width: 150px; 
    height: 150px; 
    padding: 5px; /* internal padding ( top, right, bottom, left) */
    border: 1px solid #999; /* border(width, type, color) */
    border-radius: 50%; /* border-radius is equal to 50 percent of a general width, actually 25 pixels, here and a circle was got(there is also with prefix - moz and - o) */
    box-shadow: 0px 1px 1px 1px #bbb /* across displacement, vertical displacement, smearing, increase and color */
}
.p_pic img{ /* selector for a picture which is "inside" the avatar class */
    display: block; /* a picture is being displayed as a block, by a width it will be equal to the parent(in the div) */
    width: 100%; /* width 100% */
    border: 0; /* zero border */
    margin: 0; /* external margin is lacking */
    border-radius: 50%; /* read above */
}

.box1,.box2,.box3{
	padding-top: 15px;
	float:left;
	height:210px;
	border-bottom: 1px dotted #777;
}

.box1{width:160px;}


.box2{
	width:380px;
    .name{color:#008FDB;font-size: 14pt;
 }
}

.geo{
	font-size: 12pt;
	color:#777;
	padding-left: 5px;
}
 
.mid_2{
	font-size: 12pt;
	color:#008FDB;
}
.mid_3{
	width:300px;
}

.mid_4{
	padding-top: 5px;
	font-weight: bold;
}

.box3{width:120px;}

.bx3sub1{
	padding-top: 5px;
	font-size: 12pt;
	color:#008FDB;
	font-weight: bold;
}

.p_rate{
	font-size: 14px; 
}

.bx3sub3{padding-top: 80px;}

