<footer class="footer">
  <small>
       <a href="http://www.i-hl.net/">Inspired Higher Learning</a>
    by <a href="http://www.i-hl.net/about.htm">Cristee Kim</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>