<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "IHL", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", '#' %></li>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if (current_user.profile).nil? %>
              <li><%= link_to "Create Profile", new_profile_path %> </li>
              <% else %>
              <li><%= link_to "Profile", (current_user.profile) %></li>
              <% end %>
              <li><%= link_to "Settings", dashboard_index_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in",  new_user_session_path, {:style => 'color: #5EB7FF'} %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>